<nav class="navbar bg-dark">
  <h1>
    <a href="/">Shop Ru</a>
  </h1>

  <ul>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']">Мониторинг</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'add']">Добавить товар</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'orders']">Заказы</a>
    </li>
    <li routerLinkActive="active">
      <a href="#" (click)="logout($event)">Выход</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'login']">Вход</a>
    </li>
  </ul>
</nav>

<div class="container"><router-outlet></router-outlet></div>
