<form [formGroup]="form" (ngSubmit)="submit()">
  <h2 class="text-center">Вход для Администратора</h2>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">Введите Email 🥱</small>
      <small *ngIf="form.get('email').errors.email"
        >Введите valid Email 🥺</small
      >
    </div>
  </div>

  <div class="form-control">
    <label for="password">Пароль</label>
    <input id="password" type="password" formControlName="password" />
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">Введите Пароль</small>
      <small *ngIf="form.get('password').errors.minlength"
        >Введите Пароль больше 6 символов 😥
        {{ form.get("password").errors.minLength.requiredLenght }}
        сейчас Пароль в 😓
        {{ form.get("password").errors.minlength.actualLength }}
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-block"
    [disabled]="form.invalid || submitted"
  >
    Войти
  </button>
</form>

<!-- <form [formGroup]="form" (ngSubmit)="submit()">
  <h2>Login as administrator</h2>

  <div class="form-control">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" />
    <div
      *ngIf="form.get('email').touched && form.get('email').invalid"
      class="validation"
    >
      <small *ngIf="form.get('email').errors.required">Enter Email</small>
      <small *ngIf="form.get('email').errors.email">Enter valid Email</small>
    </div>
  </div>

  <div class="form-control">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">Enter Password</small>
      <small *ngIf="form.get('password').errors.minlength">
        Passwor must be at least
        {{ form.get("password").errors.minlength.requiredLength }} characters.
        Now he {{ form.get("password").errors.minlength.actualLength }}
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary btn-block"
    [disabled]="form.inalid || submited"
  >
    Logon
  </button>
</form> -->
